button{
    background-color: transparent;
    border: 1px solid black;
    padding: 25px;
    font-family: 'Snell Roundhand';
    font-size: inherit;
    font-weight: bold;

    margin-top: 5vh;
}

label{
    font-weight: bold;
}

input{
    margin-bottom: 7.5vh;
}

