.App {
  text-align: center;
  max-height: 100vh;
  height: 100%;
  max-width: initial;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  font-size: calc(30px + 2vmin);
  background-position:center;
  background-repeat:no-repeat;
  background-size:cover;
}

.f2 {
  transform: translate(-5vh, -10vh);
  width: 50vh;
}

.f1 {
  position: fixed;
  transform: translate(+10vh, +45vh);
  width: 45vh;
}
