@font-face {
  font-family: 'Snell Roundhand';
  src: url('../public/font/SnellRoundhand.eot');
  src: url('../public/font/SnellRoundhand.eot?#iefix') format('embedded-opentype'),
    url('../public/font/SnellRoundhand.woff2') format('woff2'),
    url('../public/font/SnellRoundhand.woff') format('woff'),
    url('../public/font/SnellRoundhand.svg#SnellRoundhand') format('svg');
  font-display: swap;
}


body {
  margin: 0;

  font-family: 'Snell Roundhand';
  background-image: url('../public/background.png');
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}