<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
</head>

<style>
    body {
        margin: 0;
        padding: 0;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
            'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
            sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    * {
        font-size: calc(10px + 2vmin);
    }


    div.form-div {
        display: flex;
        justify-content: center;
        text-align: center;
    }

    h1 {
        width: 100%;
        font-size: calc(20px + 2vmin);
        text-align: center;
    }

    form {
        padding: 0 0 5vh 0;
        display: grid;
        justify-content: center;
        align-items: center;
    }

    section.form-section {
        margin: 1.25vh 0 1.25vh 0;
        justify-self: end;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    td,
    th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }

    td.yes {
        background-color: green;
    }

    td.no {
        background-color: red;
    }

    button.form-button {
        margin-top: 1.25vh;
        height: 10vh;
    }
</style>

<body>
    <h1>Add a guest</h1>
    <div class="form-div">
        <form id="addGuest" action="/admin" method="POST">
            <section class="form-section">
                <label for="abbriviation">Abbriviaiton</label>
                <input type="text" name="abbriviation" />
            </section>
            <section class="form-section">
                <label for="firstName">First name</label>
                <input type="text" name="firstName" />
            </section>
            <section class="form-section">
                <label for="lastName">Last name</label>
                <input type="text" name="lastName" />
            </section>
            <input type="submit" disabled style="display: none" aria-hidden="true" />
            <button class="form-button" id="submitButton">Add</button>
        </form>
    </div>
    <div>
        <table>
            <tr>
                <th>id</th>
                <th>abbr</th>
                <th>first name</th>
                <th>last name</th>
                <th>att</th>
            </tr>
            <% for (const guest of data) { %>
                <tr>
                    <td>
                        <%= guest.id %>
                    </td>
                    <td>
                        <%= guest.abbriviation %>
                    </td>
                    <td>
                        <%= guest.firstName %>
                    </td>
                    <td>
                        <%= guest.lastName %>
                    </td>
                    <% if(guest.attending===undefined) { %>
                        <td></td>
                        <% } else { %>
                            <% if(guest.attending) {%>
                                <td class="yes">yes</td>
                                <% } else { %>
                                    <td class="no">no</td>
                                    <% } %>
                                        <% } %>

                </tr>
                <% } %>
        </table>
    </div>


</body>

<script>
    const element = document.getElementById("submitButton");
    element.addEventListener("click", function () {
        const inputs = document.querySelectorAll('input[type="text"]');
        const values = [];
        inputs.forEach(i => values.push(i.value))
        if (values.includes('')) return alert("You have to choose before submitting")
        else return document.getElementById("addGuest").submit()
    });
</script>

</html>